*.iml
.gradle
/local.properties
/.idea/
.knownPackages
/build-tools/
/emulator/
/environments/
/icons/
/licenses/
/platform-tools/
/platforms/
/sources/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
